<div class="jumbotron text-center">
  <h1>Login System</h1>
  <p class="lean">Welcome to Login System You can do every thing here</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    ||
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Title 1</h3>
    <p>This is a description about title 1. This is a description about title 1.</p>
  </div>
  <div class="col-md-4">
      <h3>Title 1</h3>
      <p>This is a description about title 1. This is a description about title 1.</p>
  </div>
  <div class="col-md-4">
      <h3>Title 1</h3>
      <p>This is a description about title 1. This is a description about title 1.</p>
  </div>
</div>